html,
body,
#root {
  min-height: 100vh;
}

$enable-negative-margins: true;

@import '~bootstrap/scss/bootstrap.scss';

.fs-7 {
  font-size: 0.8rem !important;
}

.mt-n6 {
  margin-top: -4rem !important;
}

.mt-n7 {
  margin-top: -5rem !important;
}

ul.dot-decorator {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.dot-decorator > li:not(:last-child)::after {
  content: "·";
}

ul.dot-decorator > li > a {
  text-decoration: none;
}
